# Normalize line endings
* text=auto

# Diff drivers (only useful if configured)
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

# Linguist overrides
*.stub linguist-language=php
*.neon.dist linguist-language=neon

# Export-ignore everything by default
* export-ignore

# Allow only these files in git archive / Composer dist
/src/** -export-ignore
/composer.json -export-ignore
/README.md -export-ignore
/LICENSE -export-ignore